body {
    height: 100vh;
}

main {
    background-image: url(../images/background.png);
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.duvidas {
    width: 350px;
    margin-top: 150px;
}

.duvidas h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
}

.duvidas .resposta {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFF;
    margin-top: 15px;
}

.formulario-container {
    margin-left: 50px;
    width: 340px;
    min-height: 378px;
    background-color: #FFF;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.formulario .form-control{
    margin-bottom: 10px;
}

.formulario .form-control .inputs {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #000;
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
}

.formulario .form-control .inputs:first-child {
    margin-top: 0;
}

.formulario .form-control textarea{
    resize: none;
}

.formulario .campos-obrigatorios {
    font-size: 1.7rem;
    font-weight: 700;
}

.formulario .form-control span{
    display: none;
}

.formulario .btn-enviar {
    background-color: #3CCC87;
    color: #FFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.5rem;
}

/* ESTILIZAÇÃO DE ERROR */
.formulario .form-control.error .inputs{
    border: 2px solid #F52E2E;
}

/* ESTILIZAÇAO DE CAMPO OBRIGATORIO */

.formulario form input.borda-vermelha{
    border: 2px solid red;
}

.formulario form input.borda-vermelha.campo-obrigatorio{
    display: block;
}
/* ESTILIZAÇAO DE CAMPO PREENCHIDO */
.formulario form input.campo-preenchido{
    border: 2px solid lawngreen;
}

/* ESTILIZAÇÃO DE SUCCESS */
.form-control.success .inputs{
    border: 2px solid #00C22B;
}
